.description {
    background-color: white;
    width: 95%;
    border-radius: 5px;
    padding: 30px 15px 30px 15px;
    box-shadow: 3px 4px 3px #888888;
    text-align: left;
}

.description p {
    margin-top: 5px;
    font-size: 14px;
    padding: 0px 0px 0px 10px;
}

.blog_comments {
    width: 100%;
    /*background-color: pink;*/
}

.blog_comments_msg  {
    margin-top: 20px;
    padding: 10px;
    display: inline-block;
    width: 100%;
    text-align: left;
}

.blog_comment {
    width: 95%;
    background-color: #d9edf7;
    border: 1px dashed #7ca4c1;
    padding: 10px 10px 20px 10px;
    margin-top: 10px;
    color: #31708f;
    text-align: left;
}

.blog_comment span {
    width: 100%;
    display: inline-block;
    padding-left: 10px;
}

.blog_comment div {
    display: inline-block;
    width: 100%;
    padding-left: 10px;
    margin-top: 10px;
}

.send_comment {
    background-color: #f5f5f5;
    width: 96%;
    border-radius: 5px;
    padding: 10px 15px;
    box-shadow: 3px 4px 3px #888888;
    text-align: left;
    margin-top: 50px;
}

.send_comment input {
    width: 240px;
    height: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 3px 5px 3px 5px;
    margin: 10px 5px 10px 0px;
    font-size: 12px;
    line-height: 20px;
}

#comment_name {
    width: 125px;
}

.send_comment textarea {
    width: 90%;
    height: 100px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

.send_comment button {
    width: 70px;
    height: 25px;
    line-height: 25px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    padding: 0px 5px;
    outline: none;
}

.send_comment .vcode input{
    width: 100px;
    height: 30px;
    text-align: center;
    margin-top: 10px;
}

.send_comment span {
    margin-bottom: 0px;
    cursor: pointer;
}

.send_comment button:hover {
    background-color: #adadad;
    cursor: pointer;
}